// *************************************
//
//   [Project Name] - MVCSS v4.1.1
//   -> Manifest
//
// *************************************

// -------------------------------------
//   Foundation
// -------------------------------------

@import 'foundation/reset'
@import 'foundation/helpers'
@import 'foundation/config'
@import 'foundation/base'

// -------------------------------------
//   Components
// -------------------------------------

@import 'components/bucket'
@import 'components/button'
@import 'components/card'
@import 'components/cell'
@import 'components/form'
@import 'components/grid'
@import 'components/row'
@import 'components/well'

// -------------------------------------
//   Structures
// -------------------------------------

@import 'structures/events'
@import 'structures/nav'

// -------------------------------------
//   Vendor
// -------------------------------------

// Third-party style imports, if needed

// -------------------------------------
//   Foundation - Tools
// -------------------------------------

@import 'foundation/tools'

// -------------------------------------
//   Inbox
// -------------------------------------

// Needs to be a structure, maybe?

.requires-signedIn
  display: none

  .is-signedIn &
    display: block

.is-signedIn

  .openCreateAccount
    display: none

// Needs to be a structure too, maybe?

.section
  bottom: 0
  left: 0
  position: absolute
  right: 0
  top: 0
  transition: opacity 0.3s ease-in-out
  visibility: hidden

  &.is-showing
    opacity: 1
    visibility: visible
    z-index: 1
