// *************************************
//
//   [Project Name] - MVCSS v4.1.1
//   -> Manifest
//
// *************************************

// -------------------------------------
//   Foundation
// -------------------------------------

@import 'foundation/reset'
@import 'foundation/helpers'
@import 'foundation/config'
@import 'foundation/base'

// -------------------------------------
//   Components
// -------------------------------------

@import 'components/bucket'
@import 'components/card'
@import 'components/cell'
@import 'components/form'
@import 'components/grid'
@import 'components/row'
@import 'components/well'

// -------------------------------------
//   Structures
// -------------------------------------

// @import 'structures/pseudo-placeholder'

// -------------------------------------
//   Vendor
// -------------------------------------

// Third-party style imports, if needed

// -------------------------------------
//   Foundation - Tools
// -------------------------------------

@import 'foundation/tools'

// -------------------------------------
//   Inbox
// -------------------------------------

// ...

header
  background: #f9f9f9
  padding: 20px 0

  h1
    line-height: 1
    margin: 0
