// *************************************
//
//   Button
//   -> Buttons
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .btn
//   / ...
//
// *************************************

.btn
  background: linear-gradient( to bottom, #4ea1d8, #2980b9)
  border: 1px solid #4197da
  border-radius: $b-borderRadius
  box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.7), 0 2px 2px 0 rgba(#d5d5d5, 0.8)
  color: $c-text-invert
  font-family: $b-fontFamily
  font-size: $b-fontSize
  padding: $b-space-s $b-space-xl
  position: relative
  text-shadow: 0 -1px 0 mix(#000, #4197da, 10%)
  text-transform: uppercase

// -------------------------------------
//   Modifiers
// -------------------------------------

.btn-attend
  display: none

  .is-signedIn &
    display: block
