// *************************************
//
//   Card
//   -> Individual style containers
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .card
//   / ...
//
// *************************************

.card
  background-color: $c-background-invert
  border: $b-border
  border-radius: $b-borderRadius
  box-shadow: 0 1px 1px 0 rgba($c-border, 0.5)
  padding: $b-space
  position: relative
