// *************************************
//
//   Structure
//   -> Forms and form elements
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .structure[.structure--modifier](.is-state)(.has-context)
//   .structure-scaffolding
//
// *************************************

// .structure

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

fieldset
  border: 0
  padding: 0

  + fieldset
    margin-top: $b-space

label
 color: mix(#fff, $bigStone, 20%)

input,
textarea
  border: 1px solid mix(#fff, $c-border, 30%)
  border-radius: $b-borderRadius
  font-size: 100%
  padding: $b-space-s

  &:focus
    border: 1px solid mix(#fff, $c-border, 30%)
    outline: 0

  &.is-valid
    border-color: $deYork
    box-shadow: 0 0 1px 1px $deYork

  &.is-invalid
    border-color: $tabasco
    box-shadow: 0 0 1px 1px $tabasco

textarea
  line-height: 1.5

.input-full
  display: block
  width: 100%

span.is-invalid
  color: $tabasco

span.is-valid
  color: mix(#000, $deYork, 30%)

.require
  font-size: 12px
  color: #999999
  line-height: 18px
  margin: 4px 0 0 0
