// *************************************
//
//   Event
//   -> Event display
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .structure[.structure--modifier](.is-state)(.has-context)
//   .structure-scaffolding
//
// *************************************

.events
  display: flex
  flex-wrap: wrap

  +respond-to($g-l)
    justify-content: space-between

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.event
  background: $c-background
  border: $b-border
  padding: $b-space

  + .event
    margin-top: $b-space

    +respond-to($g-m)
      margin-top: 0

  +respond-to($g-l)
    flex-basis: 30%
    margin-bottom: 40px
