// *************************************
//
//   Nav
//   -> App navigation
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .structure[.structure--modifier](.is-state)(.has-context)
//   .structure-scaffolding
//
// *************************************

.nav
  text-align: center

  +respond-to($g-m)
    display: flex
    justify-content: center

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.nav-brand
  border: 0

.nav-item
  margin: $b-space 0 0 0

  +respond-to($g-m)
    margin: 0 0 0 $b-space

.nav-createAccount
  .is-signedIn &
    display: none

.nav-createEvent
  display: none

  .is-signedIn &
    display: block
